.sidenav {
    /*background-color: #723792;*/
    width: 200px;
}

/*
.sidenav a {
    color: #b61919;
}
*/

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #ffffff;
}