/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #303030;}

.v-middle {
    vertical-align: middle;
}



.product-container{
    &.container{
        padding: 16px;
    }
    form{
        display: flex;
        flex-direction: column;
        padding: 8px 0;
    }
    
    
    button{
        margin:20px 15px 0px 0px;
    }
    
    
    .button-container{
        display: flex;
    }
}


.mat-mdc-snack-bar-container {
    &.msg-error { /*É possível de utilizar somente a classe msg-error desta forma, mas preferi essa organização*/
      --mdc-snackbar-container-color: #e35e6b;
      --mdc-snackbar-supporting-text-color: #fff;
    }
    &.msg-success{
        --mdc-snackbar-container-color: #28a745;
        --mdc-snackbar-supporting-text-color: #fff;
    }
  }

  /* Versão corrigida utilizada no curso da cod3rs, sem exemplo ou menção a cor da fonte
.msg-error .mdc-snackbar__surface::before{
    background-color: #d97f88;
    z-index:-1;
}*/
